@model Core.Info.Helps.cl_filtros_Info
@{
    ViewBag.Title = "Dashboard";

    if (string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(q => q.IdEmpresa, new { @id = "IdEmpresa" })
    @Html.HiddenFor(q => q.IdAnio, new { @id = "IdAnio" })
    @Html.HiddenFor(q => q.IdSede, new { @id = "IdSede" })
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id = "IdTransaccionSession" })

    @*<style>
        .table thead, .table tfoot{
            background-color:#196F3D;
            color:azure
        }
    </style>*@
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group" style="text-align:center">
                    <canvas class="canvas" id="CantEstudiantesGeneral-chart"></canvas>
                </div>
            </div>
            <div class="col-md-3">
                <table id="Table_EstudiantesGeneral" class="table table-responsive dataTable dataTables_paginate">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-sort="ascending">#</th>
                            <th class="sorting" tabindex="0">Año Lectivo</th>
                            <th class="sorting" tabindex="0">Total</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <canvas class="canvas" id="CantEstudiantesActual-chart"></canvas>
                </div>
            </div>
            <div class="col-md-3">
                <table id="Table_EstudiantesActual" class="table table-responsive dataTable dataTables_paginate">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-sort="ascending">#</th>
                            <th class="sorting" tabindex="0">Sexo</th>
                            <th class="sorting" tabindex="0">Total</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr role="row">
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <canvas class="canvas" id="CantEstudiantesJornada-chart"></canvas>
                </div>
            </div>
            <div class="col-md-3">
                <table id="Table_EstudiantesJornada" class="table table-responsive dataTable dataTables_paginate">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-sort="ascending">#</th>
                            <th class="sorting" tabindex="0">Jornada</th>
                            <th class="sorting" tabindex="0">Total</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <canvas class="canvas" id="CantEstudiantesNivel-chart"></canvas>
                </div>
            </div>
            <div class="col-md-3">
                <table id="Table_EstudiantesNivel" class="table table-responsive dataTable dataTables_paginate">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-sort="ascending">#</th>
                            <th class="sorting" tabindex="0">Nivel</th>
                            <th class="sorting" tabindex="0">Total</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
}


<script type="text/javascript">
    $(function () {
        CantEstudiantesGeneral();
        CantEstudiantesActual();
        CantEstudiantesJornada();
        CantEstudiantesNivel();

        $('#Table_EstudiantesGeneral').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        });

        $('#Table_EstudiantesActual').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': true,
            'drawCallback': function () {
                var api = this.api();
                $(api.column(2).footer()).html(
                  api.column(2, { page: 'current' }).data().sum()
                );
            }
        });

        $('#Table_EstudiantesJornada').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })

        $('#Table_EstudiantesNivel').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    })


    function CantEstudiantesGeneral() {
        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
            IdAnio: $("#IdAnio").val(),
            IdSede: $("#IdSede").val(),
        }

        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("CantEstudiantesGeneral", "Dashboard")',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var NumRows = data.length;
                var Etiquetas = [];
                var Valores = [];
                var Background = [];
                var Border = [];

                $.each(data, function (index, value) {
                    var detalle = "";
                    detalle += "<tr>" +
                                "<td>" + value.IdAlumno + "</td>" +
                                "<td>" + value.Descripcion + "</td>" +
                                "<td>" + value.CantEstudiantes + "</td>" +
                                "</tr>";
                    $("#Table_EstudiantesGeneral tbody").append(detalle)

                    if (index < NumRows) {
                        Etiquetas.push(value.Descripcion);
                        Valores.push(value.CantEstudiantes);
                    }
                })
                var CantEstudiantesGeneral_Chart = document.getElementById('CantEstudiantesGeneral-chart').getContext('2d');
                var chartEl = document.getElementById("CantEstudiantesGeneral-chart");
                chartEl.height = 300;

                var chart = new Chart(CantEstudiantesGeneral_Chart, {
                    type: 'bar',
                    data: {
                        labels: Etiquetas,
                        datasets:
                            [{
                                label: 'ESTUDIANTES POR AÑO',
                                data: Valores,
                                backgroundColor: colorRGBFijos(1),
                                borderColor: colorRGBFijos(1),
                                borderWidth: 2
                            }]
                    },
                    options: {
                        responsive: false,
                        animation: {
                            radius: {
                                duration: 400,
                                easing: 'linear',
                                loop: (context) => context.active
                            }
                        },
                        plugins: {
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'ESTUDIANTES POR AÑO LECTIVO (ULTIMOS 3 AÑOS)'
                            }
                        },
                        scales: {
                            xAxes: [{
                                ticks: {
                                    autoSkip: false,
                                    maxRotation: 90,
                                    minRotation: 90
                                }
                            }]
                        }
                    }
                });
            },
            error: function (error) {

            }
        });
    };

    function CantEstudiantesActual() {
        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
            IdAnio: $("#IdAnio").val(),
            IdSede: $("#IdSede").val(),
        }

        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("CantEstudiantesActual", "Dashboard")',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var NumRows = data.length;
                var Etiquetas = [];
                var Valores = [];
                var Background = [];
                var Border = [];

                $.each(data, function (index, value) {
                    var detalle = "";
                    detalle += "<tr>" +
                                "<td>" + value.IdAlumno + "</td>" +
                                "<td>" + value.Descripcion + "</td>" +
                                "<td>" + value.CantEstudiantes + "</td>" +
                                "</tr>";
                    $("#Table_EstudiantesActual tbody").append(detalle)

                    if (index < NumRows) {
                        Etiquetas.push(value.Descripcion);
                        Valores.push(value.CantEstudiantes);
                    }
                })
                var CantEstudiantesActual_Chart = document.getElementById('CantEstudiantesActual-chart').getContext('2d');
                var chartEl = document.getElementById("CantEstudiantesActual-chart");
                chartEl.height = 300;

                var chart = new Chart(CantEstudiantesActual_Chart, {
                    type: 'pie',
                    data: {
                        labels: Etiquetas,
                        datasets:
                            [{
                                label: 'ESTUDIANTES POR SEXO',
                                data: Valores,
                                //backgroundColor: colorRGBFijos(2),
                                //borderColor: colorRGBFijos(2),
                                //borderWidth: 2
                                backgroundColor: [
                                'rgba(41, 128, 185 )',
                                'rgba(39, 174, 96 )'
                                ],
                            }]
                    },
                    options: {
                        responsive: false,
                        animation: {
                            radius: {
                                duration: 400,
                                easing: 'linear',
                                loop: (context) => context.active
                            }
                        },
                        plugins: {
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'ESTUDIANTES POR SEXO (AÑO ACTUAL)'
                            }
                        },
                        scales: {
                            xAxes: [{
                                ticks: {
                                    autoSkip: false,
                                    maxRotation: 90,
                                    minRotation: 90
                                }
                            }]
                        }
                    }
                });
            },
            error: function (error) {

            }
        });
    };

    function CantEstudiantesJornada() {
        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
            IdAnio: $("#IdAnio").val(),
            IdSede: $("#IdSede").val(),
        }

        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("CantEstudiantesJornada", "Dashboard")',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var NumRows = data.length;
                var Etiquetas = [];
                var Valores = [];
                var Background = [];
                var Border = [];
              
                $.each(data, function (index, value) {
                    var detalle = "";
                    detalle += "<tr>" +
                                "<td>" + value.IdAlumno + "</td>" +
                                "<td>" + value.NomJornada+ "</td>" +
                                "<td>" + value.CantEstudiantes + "</td>" +
                                "</tr>";
                    $("#Table_EstudiantesJornada tbody").append(detalle)

                    if (index < NumRows) {
                        Etiquetas.push(value.NomJornada);
                        Valores.push(value.CantEstudiantes);
                    }
                })
                var CantEstudiantesJornada_Chart = document.getElementById('CantEstudiantesJornada-chart').getContext('2d');
                var chartEl = document.getElementById("CantEstudiantesJornada-chart");
                chartEl.height = 300;

                var chart = new Chart(CantEstudiantesJornada_Chart, {
                    type: 'pie',
                    data: {
                        labels: Etiquetas,
                        datasets:
                            [{
                                label: '',
                                data: Valores,
                                //backgroundColor: colorRGBFijos(4),
                                //borderColor: colorRGBFijos(4),
                                //borderWidth: 2
                                backgroundColor: [
                                'rgba(230, 126, 34 )',
                                'rgba(241, 196, 15 )'
                                ],
                            }]
                    },
                    options: {
                        responsive: false,
                        animation: {
                            radius: {
                                duration: 400,
                                easing: 'linear',
                                loop: (context) => context.active
                            }
                        },
                        plugins: {
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'ESTUDIANTES POR JORNADA (AÑO ACTUAL)'
                            }
                        },
                        scales: {
                            xAxes: [{
                                ticks: {
                                    autoSkip: false,
                                    maxRotation: 90,
                                    minRotation: 90
                                }
                            }]
                        }
                    }
                });
            },
            error: function (error) {

            }
        });
    };
    
    function CantEstudiantesNivel() {
        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
            IdAnio: $("#IdAnio").val(),
            IdSede: $("#IdSede").val(),
        }

        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("CantEstudiantesNivel", "Dashboard")',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var NumRows = data.length;
                var Etiquetas = [];
                var Valores = [];
                var Background = [];
                var Border = [];
          
                $.each(data, function (index, value) {
                    var detalle = "";
                    detalle += "<tr>" +
                                "<td>" + value.IdAlumno + "</td>" +
                                "<td>" + value.NomNivel + "</td>" +
                                "<td>" + value.CantEstudiantes + "</td>" +
                                "</tr>";
                    $("#Table_EstudiantesNivel tbody").append(detalle)

                    if (index < NumRows) {
                        Etiquetas.push(value.NomNivel);
                        Valores.push(value.CantEstudiantes);
                    }
                })
                var CantEstudiantesNivel_Chart = document.getElementById('CantEstudiantesNivel-chart').getContext('2d');
                var chartEl = document.getElementById("CantEstudiantesNivel-chart");
                chartEl.height = 300;

                var chart = new Chart(CantEstudiantesNivel_Chart, {
                    type: 'bar',
                    data: {
                        labels: Etiquetas,
                        datasets:
                            [{
                                label: 'ESTUDIANTES POR NIVEL',
                                data: Valores,
                                backgroundColor: colorRGBFijos(3),
                                borderColor: colorRGBFijos(3),
                                borderWidth: 2
                            }]
                    },
                    options: {
                        responsive: false,
                        animation: {
                            radius: {
                                duration: 400,
                                easing: 'linear',
                                loop: (context) => context.active
                            }
                        },
                        plugins: {
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'ESTUDIANTES POR NIVEL (AÑO ACTUAL)'
                            }
                        },
                        scales: {
                            xAxes: [{
                                ticks: {
                                    autoSkip: false,
                                    maxRotation: 90,
                                    minRotation: 90
                                }
                            }]
                        }
                    }
                });
            },
            error: function (error) {

            }
        });
    };

    function colorRGBFijos(Color) {
        var Color1 = "rgb(192, 57, 43)";
        var Color2 = "rgb(41, 128, 185)";
        var Color3 = "rgb(39, 174, 96)";
        var Color4 = "rgb(230, 126, 34)";
        var Color5 = "rgb(241, 196, 15)";
        var Color6 = "rgb(142, 68, 173)";
        var Color7 = "rgb(93, 109, 126)";
        var Color8 = "rgb(44, 62, 80 )";
        var Color9 = "rgb(22, 160, 133)";
        var Color10 = "rgb(52, 152, 219)";

        if (Color == 1) {
            var Color = Color1;
        }
        if (Color == 2) {
            var Color = Color2;
        }
        if (Color == 3) {
            var Color = Color3;
        }
        if (Color == 4) {
            var Color = Color4;
        }
        if (Color == 5) {
            var Color = Color5;
        }

        if (Color == 6) var Color = Color6;
        if (Color == 7) var Color = Color7;
        if (Color == 8) var Color = Color8;
        if (Color == 9) var Color = Color9;
        if (Color == 10) var Color = Color10;

        return Color;
    }

    function colorRGBFijos_Lineas(Color) {
        var Color1 = "rgb(146, 43, 33)";
        var Color2 = "rgb(31, 97, 141)";
        var Color3 = "rgb(35, 155, 86)";
        var Color4 = "rgb(241, 196, 15)";
        var Color5 = "rgb(160, 64, 0 )";

        if (Color == 1) {
            var Color = Color1;
        }
        if (Color == 2) {
            var Color = Color2;
        }
        if (Color == 3) {
            var Color = Color3;
        }
        if (Color == 4) {
            var Color = Color4;
        }
        if (Color == 5) {
            var Color = Color5;
        }

        return Color;
    }

    /**************************************************************/

    function CrearGrafico(labels, data, Colores, type, titulo, IdCanva) {
        var miCanvas = document.getElementById(IdCanva).getContext('2d');
        var chart = new Chart(miCanvas, {
            type: type,
            data: {
                labels: labels,
                datasets:
                    [{
                        label: titulo,
                        data: data,
                        backgroundColor: Colores,
                        borderColor: Colores,
                        borderWidth: 1

                    }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    };

    function generarNumero(numero) {
        return (Math.random() * numero).toFixed(0);
    }

    function colorRGB_background() {
        var coolor = "(" + generarNumero(255) + "," + generarNumero(255) + ",0.2)";
        return "rgb" + coolor;
    }
</script>
